@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px;
  cursor: pointer;
  .icon {
    text-align: center;
    font-size: 30px;
  }
  .header {
    font-size: 11px;
  }
  &.active {
    color: $color-info;
  }
}
