@import 'variables';

:host {
  display: block;
  bb-button {
    width: 100px;
  }
  .confirm {
    display: flex;
  }
  .summary {
    flex: 1;
    margin-right: 5px;
  }
  .actions {
    bb-button:not(:last-of-type) {
      margin-bottom: 10px;
    }
    .cancel {
      background-color: $color-danger;
    }
    .confirm {
      background-color: $color-success;
    }
  }
}
