@import 'variables';

:host {
  display: block;
  .body, .header, .expandable-content .expandable-content-content {
    padding: 8px 16px;
  }
  .body {
    display: flex;
    background-color: $color-light;
  }
  .header {
    background-color: $color-secondary;
    display: flex;
    .text {
      flex: 1;
    }
  }
  .icon {
    font-size: 26px;
    margin-right: 8px;
    margin-top: 2px;
  }
  .content {
    flex: 1;
  }
  .expand {
    width: 16px;
  }
  .expandable-content {
    overflow: hidden;
    background-color: $color-light;
    margin-top: -16px;
  }
}
