@import 'variables';

:host {
  display: block;
  .stats {
    word-break: break-all;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 8px 0;
    align-items: center;
    bb-button {
      margin: 0 4px;
      width: 100px;
    }
  }
  .action-status {
    color: $color-success;
  }
  .custom-date-panel {
    display: flex;
    justify-content: center;
  }
  .wean-not-yet {
    margin-top: 8px;
    color: $color-danger;
    display: flex;
    justify-content: flex-end;
  }
}

bb-button.recommended {
  background-color: $color-success;
}
