@import 'variables';

:host {
  $bottom-menu-height: 60px;
  display: flex;
  flex-direction: column;
  .content {
    margin-bottom: $bottom-menu-height;
  }
  .app-update {
    position: fixed;
    padding: 8px 10px;
    left: 0;
    right: 0;
    bottom: $bottom-menu-height;
  }
  .offline {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    bottom: $bottom-menu-height;
    left: 0;
    right: 0;
    color: $color-red;
    font-weight: bold;
    border: 1px solid $color-red;
    background-color: $color-gray-700;
  }
  bb-bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: $bottom-menu-height;
    overflow: hidden;
  }
}
