@import 'variables';

:host {
  display: block;
  padding: 15px;
  .widget {
    margin-bottom: 16px;
  }
  .night-day-switch {
    position: fixed;
    bottom: 70px;
    font-size: 40px;
  }
  .night-dim-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    //background-color: transparentize($color-gray-900, 0.4);
    background-color: $color-gray-900;
    pointer-events: none;
    transition: opacity 1s ease-out;
  }
  &:not(.night) .night-dim-mask {
    opacity: 0;
  }
  &.night .night-dim-mask {
    opacity: .6;
  }
}
