@import 'variables';

:host {
  display: block;
  .stats {
    word-break: break-all;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 8px 0;
    align-items: center;
    bb-button {
      margin: 0 4px;
      width: 100px;
    }
    .input-wrapper {
      flex: 1;
      display: flex;
    }
  }
  .action-status {
    color: $color-success;
  }
}
