@import 'variables';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  border-radius: 5px;
  padding: 0 8px;
  line-height: 1.75;
  cursor: pointer;
}
