$color-white: #fff;
$color-gray-100: #f8f9fa;
$color-gray-200: #ebebeb;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #999;
$color-gray-700: #444;
$color-gray-800: #303030;
$color-gray-900: #222;
$color-black: #000;

$color-blue: #375a7f;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #e83e8c;
$color-red: #E74C3C;
$color-orange: #fd7e14;
$color-yellow: #F39C12;
$color-green: #00bc8c;
$color-teal: #20c997;
$color-cyan: #3498DB;

$color-primary: $color-blue;
$color-secondary: $color-gray-700;
$color-success: $color-green;
$color-info: $color-cyan;
$color-warning: $color-yellow;
$color-danger: $color-red;
$color-light: $color-gray-800;
$color-dark: $color-gray-800;

$color-body-background: $color-gray-900;
$color-body-color: $color-white;
